:root{
    --background: #BBBBBB;
    --submit-button: #45a049;
    --fieldset-color:#FFFFFF; 
}

body{
    background-color: var(--background);
}
main{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.title{
    margin-top: 30px;
    text-align: center;
}
.submit-button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 200px;
}
.submit-button:hover{
    background-color: var(--submit-button);
}
.button-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.form-container fieldset{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    margin-top: 30px;
    background-color: var(--fieldset-color);
}
.form-container legend{
    background-color: var(--fieldset-color);
    border: 1px solid #000;
    font-weight: 800;
    padding: 5px 10px;
    border-radius: 30px
}
.choice{
    margin-top: 20px;
}