:root{
    --background-color: #BBBBBB;
    --submit-button-color: #45a049;
    --fieldset-color:#FFFFFF;
    --border-color: #000;
}

body{
    background-color: var(--background-color);
    margin: 0;
}
main{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
h1, .popup-modal h2{
    margin-top: 30px;
    text-align: center;
}
.submit-button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 200px;
}
.submit-button:hover{
    background-color: var(--submit-button-color);
}
.button-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.form-container fieldset, .answer-container{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
    margin-top: 30px;
    background-color: var(--fieldset-color);
    padding: 6px 12px;
    border: 1px solid var(--border-color);

}
.form-container legend{
    background-color: var(--fieldset-color);
    border: 1px solid var(--border-color);
    font-weight: 800;
    padding: 5px 10px;
    border-radius: 30px
}
.form-container fieldset{
    padding-bottom: 20px;
}
.answer-container{
    padding-top: 20px;
    margin-bottom: 20px;
}
.choice{
    margin-top: 20px;
}

.tipo-soro-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#calculo-soro .choice{
    flex-grow: 1;
    text-align: center;
    margin-right: 20px;
}
#peso{
    width: 100%;
    max-width: 200px;
}
